{
    "token": "your-discord-bot-token-here",
    "commandDeck": "channel-id-for-error-tracking",
    "auditor": [
        {
            "channel": "channel-id-to-log-audits-in",
            "events": [
                "discord.js",
                "events",
                "you",
                "want",
                "to",
                "audit"
            ],
            "tracks": [
                "servers",
                "to",
                "track"
            ]
        }
    ],
    "futures": [
        "futures",
        "tickers",
        "you",
        "want",
        "tracked",
        "here"
    ]
}